@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300;500;900&display=swap');

body{
    background-color: #8dd7ff;
}
.lyrics,.mont{
    font-family: 'Montserrat', sans-serif;
}
a{
    pointer-events: none;
}